.Weather {
  border: 1px solid #dcd9d6;
  border-radius: 5px;
  margin: 20px auto;
  background-color: #dcd9d6;
}

h1 {
  margin: 20px;
  font-size: 25px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  font-size: 13px;
  text-transform: capitalize;
  padding: 0;
}

li {
  text-align: left;
}

form {
  margin: 15px 10px 10px 10px;
}

.btn {
  background-color: #5d7283;
  border: #5d7283;
  color: white;
}

.btn:hover {
  background-color: #29333c;
}

.temperature {
  font-weight: bold;
  font-size: 38px;
  position: relative;
  top: -10px;
}

.unit {
  font-size: 13px;
  position: relative;
  top: -30px;
}
